* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  background-color: var(--bg-primary);
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  scrollbar-width: none;
}

body {
  overflow-y: scroll;
}